<div class="a4g_column a4g_content_elem ">
    <div class="a4g_wrapper">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <a href="{{ asset('img/owl.carousel/test.jpg') }}">
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
        </div>
    </div>
</div>