<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <a href="{{ asset('img/owl.carousel/test.jpg') }}">
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('img/owl.carousel/test.jpg') }}"/>
                </a>
            </div>
        </div>
    </div>
</div>